@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border:none;
}

body {
    font-family: Noto Sans, sans-serif;
    font-weight: 300;
  }

    /*heading and logo*/
header {
  height: 85px;
  background-color: bisque;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  
 

}

.logo {
  color: #ee4005;
  font-size: 40px;
  font-weight:bold;
  line-height: 80px;
  padding: 0 50px;
  margin-left: 70px;
  
}

/*navigation links*/

.nav-bar {
  display: flex;
  list-style-type: none;
}

.nav-bar a {
  display: inline-block;
  padding: 10px 30px;
  margin: 0 50px;
  font-weight: 500;
  font-size: 1.2rem;
}

.nav-bar a:hover {
  color: #ce9797;
  
}

/*-background-image and cover text*/

.background {
 height: 500px;
 width: 100%;
 overflow: hidden;
 

}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }

.background-image {
    width: 50%;
    height: 100%;
   }


.frist {
    background-image: url("../images/background.PNG");
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  }



  

#cover-text  {
 color: rgb(49, 35, 173);
 font-size: 150%;
 font-weight: bold;
 
 background-color: rgb(247, 239, 239, o.8);
 
 
 width: 200px;
 height: 300px;
 
 top: 35%;
 bottom: 50px;
 right: 45%;

 position: absolute;
}

/*About us section*/

#About {
  display: flex;
  width: 100%;
  padding-top: 5%;
}

.About-Us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 

}

.About-Us-image {
  flex: 1;
  width: 400px;
  height: 400px;
  
  margin-right: 20%;

}

.About-Us-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: fill;
  padding-top: 10%;
 

}

#About-Us h2  {
font-size: 120%;
font-weight: bold;

}

#About-Us p  {
  font-size: 120%;
  font-weight: bold;
  text-align: justify;
  
  }


  /* customer-review */
  #customer-review h2 {
    font-size: 30px;
    margin-top: 50px;
    text-align: center;

  }

  #Testimonials {
    margin: 40px 0 0 20px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  
  #Testimonials h2 {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .User-reviews {
    display: flex;
    margin-bottom: 40px;
    background-color: #ebe4dd;
  

    
  }
  
  .user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }
  
   .user-profile img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  
   .feedback p {
    font-size: 16px;
    margin-bottom: 12px;
    line-height: 1.6;
  }
  
   .Star-rating {
    display: flex;
    align-items: center;
  }
  
.Star-rating .stars {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-image: url('../images/starpic.webp');
    background-color: #b7e637;
    
    
  }
  
  .Star-rating .pic {
    background-position: 0 -20px;
  }
  
  


  /*footer*/

  .footernav {
    text-align: center;
    
    }
  
    .footernav li {
      display:inline;
      }
  
    .footernav i {
        font-size: 160%;
        padding: 5%;
        margin: 1%;
        color: #3a3a3a;
        
        }
  

  /*menu page*/

  #our-menu  {
    max-width: 1200px;
    margin: 100px auto;
    
    }

  #heading {
    
    text-align: center;
    margin-bottom: 60px;
    max-width: 900px;
    margin: 0 auto;
  
  }
  
  #heading h2 {
    display: inline-block;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    padding-top: 20px;
   
  }
  #heading p {
    
    font-size: 1.5rem;
    padding-bottom: 20px;
    position: relative;
    
   
    }


    #menu-box {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
 
  }

  .menu-items {
    width: 30%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
  
}

  .menu-header {
    font-size: 1.5rem;
    margin-bottom: 10px;
     
}
.menu-header span {
    background-color:#6e8e41;
    
     
}

.Menu-content {
  font-size: 1.2rem;
  margin-bottom: 5px;
   
}
    
 
img {
     width: 100%;
     height: 300px;
     box-sizing: border-box;
     object-fit: cover;
      margin-bottom: 10px;
     border-radius: 5px;
 }

 img:hover {
  cursor: pointer;
  opacity: 0.5;  
}



/*cotact us*/

form {
    width: 500px;
    margin: 50px auto;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }

  /*Add google map*/

  .map-container {
    margin: 20px auto;
    max-width: 600px;
    height: 400px;
    overflow: hidden;
    position: relative;
  }
  
  .map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .contact {
    text-align: center;
  }
  
  .address-container {
    display: inline-block;
    margin-top: 20px;
  }
  
  .horizontal p {
    display: inline-block;
    margin-right: 20px;
  }
  
