@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border:none;
}

body {
  font-family: Noto Sans, sans-serif;
  font-weight: 300;
  }

    /*heading and logo*/
header {
  box-sizing:border-box;
  max-width: 100%;
  background-color:#a73838f3;
  top:0px;
  left:0px;
  overflow:hidden;
}
.logo {
  float:left;
  font-size:200%;
  margin: left 0%;;
  line-height:75px;
  color:#e0dd1eb6;
  font-weight:bold;
}

/*navigation links*/

.nav-bar {
  font-size:110%;
}
.nav-bar li {
  list-style-type:none;
  margin-right:30px;
  float:right;
  line-height:75px;
}
.nav-bar a {
  text-decoration:none;
  color:#e0dd1eb6;
}
.nav-bar a:hover {
  color:#d4b31def;
}

/*-background-image and cover text*/

.welcome-section {
  display:flex;
  flex-direction:row;
  justify-content:left;
  align-items:center;
  left:0px;
}
.image-container {
  width:100%;
 max-width:700px;
 
}
.image-container img {
  width:100%;
  height:auto;
  object-fit:cover;
}
.text-container {
  max-width:700px;
  font-weight:bold;
  padding:50px;
  text-align:center;
  line-height:1.5;
  margin-left:80px;
}
.text-container h2 {
  font-size:2.0rem;
  padding-bottom:20px;
  color:#e71d1db7;
}

/*About us section*/
#about-us-section {
  background-color:#e5c499d7;
  padding:20px 0;
  text-align:center;
  margin-top:20px;
}
.about-us-content {
  max-width:80%;
  margin:0 auto;
  display:flex;
  flex-direction:row;
  align-items:center;
}
.about-us-text {
  width:50%;
  padding-right:60px;
  box-sizing:border-box;
  text-align:left;
  height:auto;
}
.about-us-text h2 {
  font-size:32px;
  margin-bottom:20px;
  text-align:left;
}
.about-us-text p {
  font-size:18px;
  line-height:1.5;
  margin-bottom:10px;
}
.about-us-image-customer {
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
}
.about-us-image-customer img {
  object-fit:fill;
  margin:10px;
  width:100%;
  max-width:400px;
}
 

/* customer-review */

#customer-review {
  background-color: #6475ac98;
}
#customer-review h2 {
  font-size:30px;
  margin-top:50px;
  text-align:left;
  padding-left:90px;
}
#Testimonials {
  margin:40px 0 0 20px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
#Testimonials h2 {
  font-weight:800;
  font-size:30px;
  margin-bottom:60px;
}
.User-reviews {
  display:flex;
  margin-bottom:60px;
  margin-right:30px;
}
.user-profile {
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-right:20px;
}
.user-profile img {
  height:40px;
  width:40px;
  border-radius:50%;
  margin-bottom:10px;
}
.feedback p {
  font-size:16px;
  margin-bottom:12px;
  line-height:1.6;
}
.Star-rating {
  display:flex;
  align-items:center;
}
.Star-rating .stars {
  display:inline-block;
  width:20px;
  height:20px;
  background-size:contain;
  background-image:url('../images/starpic.webp');
  background-color:#b7e637;
}
.Star-rating .pic {
  background-position:0 -20px;
}

  /*footer*/
.footernav {
    text-align: center;
    }

.footernav li {
  display:inline;
  }
.footernav i {
  font-size:160%;
  padding:5%;
  margin:1%;
  color:#7a6c6c;
  }
  
  /*menu page*/

  #our-menu {
    max-width:1200px;
    margin:5% auto;
  }
  #heading {
    text-align:center;
    margin-bottom:60px;
    max-width:900px;
    margin:0 auto;
  }
  #heading h2 {
    display:inline-block;
    text-align:center;
    font-size:30px;
    margin-bottom:10px;
    padding-top:20px;
  }
  #heading p {
    font-size: 150%;
    padding-bottom:20px;
    position:relative;
  }
  .menu-box {
    display:flex;
    justify-content:space-between;
    margin-bottom:40px;
  }
  .menu-items {
    width:30%;
    background-color:#fff;
    border-radius:5px;
    box-shadow:0 2px 5px #1b1b1a;
    text-align:center;
    padding:20px;
  }
  .menu-header {
    font-size: 140%;
    margin-bottom:10px;
  }
  .menu-header span {
    background-color:#e2bf21da;
  }
  .Menu-content {
    font-size:120%;
    margin-bottom:5px;
  }
  .menu-items img {
    width:100%;
    height:400px;
    box-sizing:border-box;
    object-fit:cover;
    margin-bottom:10px;
    border-radius:5px;
  }
  img:hover {
    cursor:pointer;
    opacity:0.5;
  }
  


/*contact us*/

form {
  margin:50px auto;
  width:600px;
  
}
label {
  margin-bottom:10px;
  display:block;
  
}
input[type="text"],input[type="email"],input[type="tel"],textarea {
  width:100%;
  padding:10px;
  margin-bottom:15px;
  border:1px solid #ccc;
  border-radius:5px;
  box-sizing:border-box;
  resize:vertical;
}
input[type="submit"] {
  background-color:#40d698;
  color:#fff;
  border:none;
  padding:10px 20px;
  border-radius:5px;
  cursor:pointer;
}
input[type="submit"]:hover {
  background-color:#36bbe4;
}
/*Add google map*/

.map-container {
  margin:20px auto;
  max-width:600px;
  width: 100%;
  height:400px;
  overflow:hidden;
  position:relative;
}
.map-container iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.contact {
  text-align:center;
}

.contact h3 {
  margin-top: 40px;
  font-size: 1.5rem;
}
.address-container {
  margin-top:20px;
  display: flex;
  justify-content:center;
  line-height: 50px;
}

.horizontal  {
  display:inline-block;
  margin-right:20px;
  text-align:center;
}
.horizontal p {
  display:inline-block;
  margin-right:20px;
  text-align:center;
}



  /*media query welcome section */


@media screen and (max-width:1200px) {

    .welcome-section {
      flex-direction:column;
    }
  
    .image-container {
      max-width:100%;
    }
   .text-container {
      max-width:100%;
      padding:5%;
    }
    
    .head-container {
    max-width:100%;
  }
  

  #about-us-section {
    padding:20px 0;
  }
  .about-us-content {
    flex-direction:column;
  }
 .about-us-text,.about-us-image {
    width:100%;
    text-align:center;
  }*
  .about-us-image-customer img {
    padding-top:5%;
  }
  
  .menu-box {
    flex-direction:column;
    align-items:center;
  }

  .Menu-content {
    font-size: 16px;
    margin-bottom:5px;
  }

  #menu-items {
    width:80%;
    margin-bottom:20px;
  }

  .menu-items img {
   height:auto;
   
  }
 
}
  
   
  @media screen and (max-width:965px) {
   

  /*food menu*/

  .menu-items {
    width:35%;
  }

  .menu-header {
    font-size: 100%;
    margin-bottom:10px;
  }

  #heading p {
    font-size: 110%;
    padding-bottom:20px;
    position:relative;
  }


}

@media screen and (max-width:600px) {


  .nav-bar {
    float:left;
    clear:left;
    line-height:25px;
    margin-left:20px;
    margin-bottom:20px;
  }

  header {
  box-sizing:border-box;
  background-color:#a73838f3;
  top:0px;
  left:0px;
  overflow:hidden;
}
.logo {
  float:left;
  font-size:200%;
  margin: left 0%;;
  line-height:75px;
  color:#e0dd1eb6;
  font-weight:bold;
}
  .nav-bar {
  float:left;
  clear:left;
  line-height:15px;
  margin-left:10px;
  margin-bottom:10px;
}

/*food menu*/

.menu-items {
  width:60%;
}


.map-container {
  margin:20px auto;
  max-width: 100%;
  height:400px;
  overflow:hidden;
  position:relative;
}

form {
  
  width:100%;
  
}
}

@media screen and (max-width:400px) {
  /*food menu*/

.menu-items {
  width:80%;
}

.nav-bar li {
  margin-right:10px;
  float:right;
  line-height:75px;
}


}

