@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border:none;
}

body {
    font-family: Noto Sans, sans-serif;
    font-weight: 300;
  }

    /*heading and logo*/
header {
  height: 85px;
  background-color: bisque;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  
 

}

.logo {
  color: #ee4005;
  font-size: 40px;
  font-weight:bold;
  line-height: 80px;
  padding: 0 50px;
  margin-left: 70px;
  
}

/*navigation links*/

.nav-bar {
  display: flex;
  list-style-type: none;
}

.nav-bar a {
  display: inline-block;
  padding: 10px 30px;
  margin: 0 50px;
  font-weight: 500;
  font-size: 1.2rem;
}

.nav-bar a:hover {
  color: #ce9797;
  
}

/*-background-image and cover text*/

#background {
 height: 550px;
 width: 100%;
 overflow: hidden;
 padding-top: 10px;
 position: relative;

}

#background-image {
  height: 550px;
  width: 100%;
  background: url("../images/background.PNG"),url("../images/restaurant\ .pic.jpeg") ;
  background-repeat: no-repeat ;
  background-position: center left, right;
  background-size: 50%;

}

#cover-text  {
 color: rgb(49, 35, 173);
 font-size: 150%;
 font-weight: bold;
 
 background-color: rgb(247, 239, 239, o.8);
 
 
 width: 200px;
 height: 300px;
 
 top: 35%;
 bottom: 50px;
 right: 45%;

 position: absolute;
}

/*About us section*/

#About {
  display: flex;
  width: 100%;
  padding-top: 5%;
}

.About-Us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 

}

.About-Us-image {
  flex: 1;
  width: 400px;
  height: 400px;
  
  margin-right: 20%;

}

.About-Us-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: fill;
  padding-top: 10%;
 

}

#About-Us h2  {
font-size: 120%;
font-weight: bold;

}

#About-Us p  {
  font-size: 120%;
  font-weight: bold;
  text-align: justify;
  
  }

  /*menu page*/

  #heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
  
    
    }

  .menu {
  
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aqua;
    
    
  
    
    }

    menu-box {
      width: 20%;
      margin-bottom: 50px;
      border: 1px solid #ce9797;
       
  }

  .menu-header {
    text-align: center center;
    padding: 50px 10px;
  
     
}

.Menu-content {
  padding: 30px 10px;
  font-size: 18px;
  text-align: center;

   
}

img {
     width: 400px; 
     height: 300px;
     padding: 5px;
    
      
 }

 img:hover {
  cursor: pointer;
  opacity: 0.5;
  
 
 
   
}

p {
  width: 300px; 
  height: 200px;
  padding: 5px;
 
   
}
